*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background: rgb(88, 79, 136);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background: url(images/mathias-reding-3P9QzN5uF5Q-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    width: 80%;
    max-width: 850px;
    text-align: center;
    padding: 26px;
    color: white;
    font-size: 30px;
   display: none;
  
    
}
.container h1{
      font-size: 30px;
      color: white;
      margin-bottom: 20px;
      
}
.question{
    font-size: 40px;
    margin-bottom:20px;
}
.choice{
  
        font-size: 20px;
        background-color: #eee;
        color: #000;
        margin: 10px auto;
        padding: 10px;
        border-radius: 5px;
        text-align: left;
        width: 60%;
        cursor: pointer;    
}
.choice.selected{
    background: rgb(179, 179, 52);
}
.choice:hover{
    background-color: rgb(138, 138, 85);
}

.nextbtn{
    padding :10px 30px;
    border-radius: 5px;
    border: none;
    outline:none;
    background-color:rgb(134, 67, 67);
    margin-top:20px ;
}
.nextbtn:hover{
    background-color: rgb(35, 82, 35);
    cursor: pointer;
    
}
.startbtn{
    padding :10px 30px;
    border-radius: 5px;
    border: none;
    outline:none;
    background-color:rgb(134, 67, 67);

}
.startbtn:hover{
    background-color: rgb(35, 82, 35);
    cursor: pointer;
}
.alert{
    position: absolute;
    top: 0;
    padding: 20px;
    width: 100%;
    background-color: rgb(204, 39, 39);
    color: white;
    display: none;
}
.timer{
    position: absolute;
    top: 60px;
    right: 20px;
    padding:20px;
    height: 72px;
    width: 72px;
    background-color: rgb(59, 59, 153);
    border-radius: 50%;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

}
@media screen and (max-width:900px){
    .container {
        width: 100%;
        margin-top: 50px;
    }
    .container h1{
        font-size: 24px;
    }
    .container .question{
        font-size: 22px;
    }

    .timer{
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .startbtn{
        width: 50%;
    }
}

.javaScript{
    padding :10px 30px;
    border-radius: 5px;
    border: none;
    outline:none;
    background-color:rgb(134, 67, 67);
    display:none;

}
.javaScript:hover{
    background-color: rgb(35, 82, 35);
    cursor: pointer;
}

.Css{
    padding :10px 45px;
    border-radius: 5px;
    border: none;
    outline:none;
    background-color:rgb(134, 67, 67);
    display:none;

}
.Css:hover{
    background-color: rgb(35, 82, 35);
    cursor: pointer;
}
#welcome{
    color:white;
}
.selectquiz{
    display:flex;
    gap:10px
}
#chooseQuiz{
    display:none;
    color:white;
}
